In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import tensorflow as tf
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/Datasets/Churn_Modelling.csv")

In [ ]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df.drop(['RowNumber', 'CustomerId', 'Surname'],axis = 1, inplace = True)

In [ ]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
df['Geography'].unique()

array(['France', 'Spain', 'Germany'], dtype=object)

In [ ]:
df = pd.get_dummies(df, columns = ['Geography', 'Gender'], drop_first=True)

In [ ]:
df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,1,0

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
scaler = MinMaxScaler()

min_max_df = scaler.fit_transform(df.drop("Exited", axis = 1))
min_max_df = pd.DataFrame(min_max_df,
                          columns = list(df.columns[:8]) + list(df.columns[9:]))

In [ ]:
min_max_df.head()

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain,Gender_Male
0,0.538,0.324324,0.2,0.000000,0.000000,1.0,1.0,0.506735,0.0,0.0,0.0
1,0.516,0.310811,0.1,0.334031,0.000000,0.0,1.0,0.562709,0.0,1.0,0.0
2,0.304,0.324324,0.8,0.636357,0.666667,1.0,0.0,0.569654,0.0,0.0,0.0
3,0.698,0.283784,0.1,0.000000,0.333333,0.0,0.0,0.469120,0.0,0.0,0.0
4,1.000,0.337838,0.2,0.500246,0.000000,1.0,1.0,0.395400,0.0,1.0,0.0

In [ ]:
X = min_max_df
y = df['Exited']

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
oversample = SMOTE()

X, y = oversample.fit_resample(X, y)

X.shape, y.shape

((15926, 11), (15926,))

In [ ]:
y.value_counts()

1    7963
0    7963
Name: Exited, dtype: int64

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33,
                                                    random_state=42)

In [ ]:
tf.random.set_seed(42)

model = tf.keras.Sequential([
                             tf.keras.layers.Dense(10, activation = 'relu',
                                                   kernel_initializer='he_normal'),
                             tf.keras.layers.Dense(50, activation = 'relu',
                                                   kernel_initializer='he_normal'),
                             tf.keras.layers.Dense(100, activation = 'relu',
                                                   kernel_initializer='he_normal'),
                             tf.keras.layers.Dense(50, activation = 'relu',
                                                   kernel_initializer='he_normal'),
                             tf.keras.layers.Dense(10, activation = 'relu',
                                                   kernel_initializer='he_normal'),
                             tf.keras.layers.Dense(1, activation = 'sigmoid',
                                                   kernel_initializer='glorot_uniform')
])

history = model.compile(loss = tf.keras.losses.binary_crossentropy,
              optimizer = tf.keras.optimizers.Adam(),
              metrics = ['accuracy'])

model.fit(X,y, epochs = 100, verbose = 2)

Epoch 1/100
498/498 - 1s - loss: 0.6273 - accuracy: 0.6475 - 1s/epoch - 3ms/step
Epoch 2/100
498/498 - 1s - loss: 0.5728 - accuracy: 0.7020 - 832ms/epoch - 2ms/step
Epoch 3/100
498/498 - 1s - loss: 0.5475 - accuracy: 0.7235 - 814ms/epoch - 2ms/step
Epoch 4/100
498/498 - 1s - loss: 0.5215 - accuracy: 0.7400 - 842ms/epoch - 2ms/step
Epoch 5/100
498/498 - 1s - loss: 0.4868 - accuracy: 0.7620 - 826ms/epoch - 2ms/step
Epoch 6/100
498/498 - 1s - loss: 0.4617 - accuracy: 0.7744 - 848ms/epoch - 2ms/step
Epoch 7/100
498/498 - 1s - loss: 0.4496 - accuracy: 0.7856 - 843ms/epoch - 2ms/step
Epoch 8/100
498/498 - 1s - loss: 0.4439 - accuracy: 0.7881 - 848ms/epoch - 2ms/step
Epoch 9/100
498/498 - 1s - loss: 0.4367 - accuracy: 0.7932 - 855ms/epoch - 2ms/step
Epoch 10/100
498/498 - 1s - loss: 0.4335 - accuracy: 0.7934 - 797ms/epoch - 2ms/step
Epoch 11/100
498/498 - 1s - loss: 0.4292 - accuracy: 0.7975 - 806ms/epoch - 2ms/step
Epoch 12/100
498/498 - 1s - loss: 0.4238 - accuracy: 0.8003 - 844ms/epoch - 2ms/step
Epoch 13/100
498/498 - 1s - loss: 0.4211 - accuracy: 0.8017 - 850ms/epoch - 2ms/step
Epoch 14/100
498/498 - 1s - loss: 0.4159 - accuracy: 0.8045 - 788ms/epoch - 2ms/step
Epoch 15/100
498/498 - 1s - loss: 0.4147 - accuracy: 0.8060 - 861ms/epoch - 2ms/step
Epoch 16/100
498/498 - 1s - loss: 0.4127 - accuracy: 0.8047 - 822ms/epoch - 2ms/step
Epoch 17/100
498/498 - 1s - loss: 0.4067 - accuracy: 0.8090 - 803ms/epoch - 2ms/step
Epoch 18/100
498/498 - 1s - loss: 0.4035 - accuracy: 0.8108 - 814ms/epoch - 2ms/step
Epoch 19/100
498/498 - 1s - loss: 0.3994 - accuracy: 0.8128 - 820ms/epoch - 2ms/step
Epoch 20/100
498/498 - 1s - loss: 0.3974 - accuracy: 0.8153 - 815ms/epoch - 2ms/step
Epoch 21/100
498/498 - 1s - loss: 0.3933 - accuracy: 0.8169 - 824ms/epoch - 2ms/step
Epoch 22/100
498/498 - 1s - loss: 0.3897 - accuracy: 0.8185 - 851ms/epoch - 2ms/step
Epoch 23/100
498/498 - 1s - loss: 0.3869 - accuracy: 0.8188 - 840ms/epoch - 2ms/step
Epoch 24/100
498/498 - 1s - loss: 0.3817 - accuracy: 0.8217 - 815ms/epoch - 2ms/step
Epoch 25/100
498/498 - 1s - loss: 0.3776 - accuracy: 0.8233 - 869ms/epoch - 2ms/step
Epoch 26/100
498/498 - 1s - loss: 0.3719 - accuracy: 0.8283 - 820ms/epoch - 2ms/step
Epoch 27/100
498/498 - 1s - loss: 0.3698 - accuracy: 0.8300 - 810ms/epoch - 2ms/step
Epoch 28/100
498/498 - 1s - loss: 0.3688 - accuracy: 0.8302 - 827ms/epoch - 2ms/step
Epoch 29/100
498/498 - 1s - loss: 0.3656 - accuracy: 0.8330 - 1s/epoch - 3ms/step
Epoch 30/100
498/498 - 1s - loss: 0.3590 - accuracy: 0.8341 - 816ms/epoch - 2ms/step
Epoch 31/100
498/498 - 1s - loss: 0.3539 - accuracy: 0.8365 - 820ms/epoch - 2ms/step
Epoch 32/100
498/498 - 1s - loss: 0.3522 - accuracy: 0.8415 - 815ms/epoch - 2ms/step
Epoch 33/100
498/498 - 1s - loss: 0.3505 - accuracy: 0.8401 - 820ms/epoch - 2ms/step
Epoch 34/100
498/498 - 1s - loss: 0.3452 - accuracy: 0.8452 - 824ms/epoch - 2ms/step
Epoch 35/100
498/498 - 1s - loss: 0.3415 - accuracy: 0.8461 - 807ms/epoch - 2ms/step
Epoch 36/100
498/498 - 1s - loss: 0.3359 - accuracy: 0.8488 - 818ms/epoch - 2ms/step
Epoch 37/100
498/498 - 1s - loss: 0.3326 - accuracy: 0.8488 - 840ms/epoch - 2ms/step
Epoch 38/100
498/498 - 1s - loss: 0.3338 - accuracy: 0.8493 - 803ms/epoch - 2ms/step
Epoch 39/100
498/498 - 1s - loss: 0.3282 - accuracy: 0.8529 - 801ms/epoch - 2ms/step
Epoch 40/100
498/498 - 1s - loss: 0.3265 - accuracy: 0.8539 - 811ms/epoch - 2ms/step
Epoch 41/100
498/498 - 1s - loss: 0.3214 - accuracy: 0.8560 - 868ms/epoch - 2ms/step
Epoch 42/100
498/498 - 1s - loss: 0.3191 - accuracy: 0.8580 - 848ms/epoch - 2ms/step
Epoch 43/100
498/498 - 1s - loss: 0.3151 - accuracy: 0.8617 - 804ms/epoch - 2ms/step
Epoch 44/100
498/498 - 1s - loss: 0.3118 - accuracy: 0.8612 - 828ms/epoch - 2ms/step
Epoch 45/100
498/498 - 1s - loss: 0.3104 - accuracy: 0.8621 - 820ms/epoch - 2ms/step
Epoch 46/100
498/498 - 1s - loss: 0.3087 - accuracy: 0.8647 - 815ms/epoch - 2ms/step
Epoch 47/100
498/498 - 1s - loss: 0.3047 - accuracy: 0.8653 - 811ms/epoch - 2ms/step
Epoch 48/100
498/498 - 1s - loss: 0.3016 - accuracy: 0.8662 - 801ms/epoch - 2ms/step
Epoch 49/100
498/498 - 1s - loss: 0.3020 - accuracy: 0.8658 - 826ms/epoch - 2ms/step
Epoch 50/100
498/498 - 1s - loss: 0.2952 - accuracy: 0.8730 - 834ms/epoch - 2ms/step
Epoch 51/100
498/498 - 1s - loss: 0.2954 - accuracy: 0.8717 - 1s/epoch - 2ms/step
Epoch 52/100
498/498 - 1s - loss: 0.2920 - accuracy: 0.8681 - 1s/epoch - 2ms/step
Epoch 53/100
498/498 - 1s - loss: 0.2874 - accuracy: 0.8735 - 796ms/epoch - 2ms/step
Epoch 54/100
498/498 - 1s - loss: 0.2861 - accuracy: 0.8724 - 818ms/epoch - 2ms/step
Epoch 55/100
498/498 - 1s - loss: 0.2817 - accuracy: 0.8766 - 815ms/epoch - 2ms/step
Epoch 56/100
498/498 - 1s - loss: 0.2783 - accuracy: 0.8784 - 828ms/epoch - 2ms/step
Epoch 57/100
498/498 - 1s - loss: 0.2754 - accuracy: 0.8815 - 838ms/epoch - 2ms/step
Epoch 58/100
498/498 - 1s - loss: 0.2742 - accuracy: 0.8799 - 814ms/epoch - 2ms/step
Epoch 59/100
498/498 - 1s - loss: 0.2696 - accuracy: 0.8842 - 803ms/epoch - 2ms/step
Epoch 60/100
498/498 - 1s - loss: 0.2709 - accuracy: 0.8796 - 807ms/epoch - 2ms/step
Epoch 61/100
498/498 - 1s - loss: 0.2668 - accuracy: 0.8837 - 835ms/epoch - 2ms/step
Epoch 62/100
498/498 - 1s - loss: 0.2615 - accuracy: 0.8842 - 863ms/epoch - 2ms/step
Epoch 63/100
498/498 - 1s - loss: 0.2587 - accuracy: 0.8877 - 814ms/epoch - 2ms/step
Epoch 64/100
498/498 - 1s - loss: 0.2561 - accuracy: 0.8889 - 834ms/epoch - 2ms/step
Epoch 65/100
498/498 - 1s - loss: 0.2562 - accuracy: 0.8894 - 827ms/epoch - 2ms/step
Epoch 66/100
498/498 - 1s - loss: 0.2506 - accuracy: 0.8918 - 793ms/epoch - 2ms/step
Epoch 67/100
498/498 - 1s - loss: 0.2496 - accuracy: 0.8906 - 804ms/epoch - 2ms/step
Epoch 68/100
498/498 - 1s - loss: 0.2438 - accuracy: 0.8933 - 819ms/epoch - 2ms/step
Epoch 69/100
498/498 - 1s - loss: 0.2472 - accuracy: 0.8944 - 825ms/epoch - 2ms/step
Epoch 70/100
498/498 - 1s - loss: 0.2389 - accuracy: 0.8974 - 817ms/epoch - 2ms/step
Epoch 71/100
498/498 - 1s - loss: 0.2424 - accuracy: 0.8941 - 816ms/epoch - 2ms/step
Epoch 72/100
498/498 - 1s - loss: 0.2384 - accuracy: 0.8964 - 802ms/epoch - 2ms/step
Epoch 73/100
498/498 - 1s - loss: 0.2366 - accuracy: 0.8994 - 825ms/epoch - 2ms/step
Epoch 74/100
498/498 - 1s - loss: 0.2327 - accuracy: 0.9014 - 812ms/epoch - 2ms/step
Epoch 75/100
498/498 - 1s - loss: 0.2351 - accuracy: 0.8988 - 843ms/epoch - 2ms/step
Epoch 76/100
498/498 - 1s - loss: 0.2314 - accuracy: 0.8998 - 806ms/epoch - 2ms/step
Epoch 77/100
498/498 - 1s - loss: 0.2308 - accuracy: 0.9002 - 809ms/epoch - 2ms/step
Epoch 78/100
498/498 - 1s - loss: 0.2272 - accuracy: 0.9038 - 819ms/epoch - 2ms/step
Epoch 79/100
498/498 - 1s - loss: 0.2199 - accuracy: 0.9067 - 808ms/epoch - 2ms/step
Epoch 80/100
498/498 - 1s - loss: 0.2234 - accuracy: 0.9051 - 838ms/epoch - 2ms/step
Epoch 81/100
498/498 - 1s - loss: 0.2236 - accuracy: 0.9041 - 802ms/epoch - 2ms/step
Epoch 82/100
498/498 - 1s - loss: 0.2161 - accuracy: 0.9095 - 814ms/epoch - 2ms/step
Epoch 83/100
498/498 - 1s - loss: 0.2114 - accuracy: 0.9105 - 798ms/epoch - 2ms/step
Epoch 84/100
498/498 - 1s - loss: 0.2180 - accuracy: 0.9074 - 818ms/epoch - 2ms/step
Epoch 85/100
498/498 - 1s - loss: 0.2122 - accuracy: 0.9088 - 824ms/epoch - 2ms/step
Epoch 86/100
498/498 - 1s - loss: 0.2124 - accuracy: 0.9123 - 837ms/epoch - 2ms/step
Epoch 87/100
498/498 - 1s - loss: 0.2108 - accuracy: 0.9106 - 784ms/epoch - 2ms/step
Epoch 88/100
498/498 - 1s - loss: 0.2079 - accuracy: 0.9146 - 825ms/epoch - 2ms/step
Epoch 89/100
498/498 - 1s - loss: 0.2022 - accuracy: 0.9146 - 821ms/epoch - 2ms/step
Epoch 90/100
498/498 - 1s - loss: 0.1986 - accuracy: 0.9173 - 825ms/epoch - 2ms/step
Epoch 91/100
498/498 - 1s - loss: 0.2065 - accuracy: 0.9127 - 809ms/epoch - 2ms/step
Epoch 92/100
498/498 - 1s - loss: 0.2019 - accuracy: 0.9150 - 811ms/epoch - 2ms/step
Epoch 93/100
498/498 - 1s - loss: 0.2014 - accuracy: 0.9148 - 795ms/epoch - 2ms/step
Epoch 94/100
498/498 - 1s - loss: 0.2010 - accuracy: 0.9165 - 823ms/epoch - 2ms/step
Epoch 95/100
498/498 - 1s - loss: 0.1988 - accuracy: 0.9184 - 828ms/epoch - 2ms/step
Epoch 96/100
498/498 - 1s - loss: 0.1936 - accuracy: 0.9184 - 815ms/epoch - 2ms/step
Epoch 97/100
498/498 - 1s - loss: 0.1901 - accuracy: 0.9225 - 820ms/epoch - 2ms/step
Epoch 98/100
498/498 - 1s - loss: 0.1899 - accuracy: 0.9221 - 834ms/epoch - 2ms/step
Epoch 99/100
498/498 - 1s - loss: 0.1827 - accuracy: 0.9238 - 816ms/epoch - 2ms/step
Epoch 100/100
498/498 - 1s - loss: 0.1867 - accuracy: 0.9232 - 837ms/epoch - 2ms/step

In [ ]:
preds = model.predict(X_test)

In [ ]:
preds = np.array([0 if i < 0.5 else 1 for i in preds])

In [ ]:
from sklearn.metrics import confusion_matrix, accuracy_score

In [ ]:
confusion_matrix(y_test, preds)

array([[2318,  344],
       [ 114, 2480]])

In [ ]:
accuracy_score(y_test, preds)

0.912861491628615

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
print(classification_report(y_test, preds))

              precision    recall  f1-score   support

           0       0.95      0.87      0.91      2662
           1       0.88      0.96      0.92      2594

    accuracy                           0.91      5256
   macro avg       0.92      0.91      0.91      5256
weighted avg       0.92      0.91      0.91      5256